---
BasedOnStyle: Microsoft
AlignConsecutiveAssignments:
  Enabled: true
AlignConsecutiveBitFields:
  Enabled: true
AlignConsecutiveDeclarations:
  Enabled: true
AllowShortEnumsOnASingleLine: true
BreakBeforeBraces: Stroustrup
ColumnLimit: 0
InsertBraces: true
PointerAlignment: Left
PackConstructorInitializers: Never
